In [13]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [14]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sioux Lookout,CA,2022-02-03 17:40:39,50.1001,-91.9170,-16.22,69,0,6.91
1,1,Kahului,US,2022-02-03 17:40:39,20.8947,-156.4700,72.84,78,20,3.44
2,2,Longyearbyen,SJ,2022-02-03 17:40:40,78.2186,15.6401,15.64,67,0,2.30
3,3,Kodiak,US,2022-02-03 17:36:07,57.7900,-152.4072,38.71,93,100,14.97
4,4,Muros,ES,2022-02-03 17:40:40,42.7762,-9.0603,57.24,86,100,6.67

In [15]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [16]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kahului,US,2022-02-03 17:40:39,20.8947,-156.4700,72.84,78,20,3.44
7,7,East London,ZA,2022-02-03 17:39:49,-33.0153,27.9116,68.94,94,75,9.22
10,10,Byron Bay,AU,2022-02-03 17:40:43,-28.6500,153.6167,69.87,80,96,19.08
12,12,Rikitea,PF,2022-02-03 17:40:11,-23.1203,-134.9692,77.36,77,100,14.41
17,17,Atuona,PF,2022-02-03 17:40:45,-9.8000,-139.0333,78.35,70,24,17.74
20,20,Corrente,BR,2022-02-03 17:40:46,-3.7367,-43.3394,87.69,51,90,2.64
21,21,Patancheru,IN,2022-02-03 17:40:46,17.5314,78.2650,74.26,52,15,9.10
22,22,Kruisfontein,ZA,2022-02-03 17:40:47,-34.0033,24.7314,66.88,75,86,16.28
23,23,Saint-Philippe,RE,2022-02-03 17:40:17,-21.3585,55.7679,78.35,89,100,36.69
24,24,Mar Del Plata,AR,2022-02-03 17:40:48,-38.0023,-57.5575,73.87,83,0,3.00

In [27]:
preferred_cities_df.count()

City_ID       245
City          245
Country       242
Date          245
Lat           245
Lng           245
Max Temp      245
Humidity      245
Cloudiness    245
Wind Speed    245
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1          Kahului      US     72.84  20.8947 -156.4700
7      East London      ZA     68.94 -33.0153   27.9116
10       Byron Bay      AU     69.87 -28.6500  153.6167
12         Rikitea      PF     77.36 -23.1203 -134.9692
17          Atuona      PF     78.35  -9.8000 -139.0333
20        Corrente      BR     87.69  -3.7367  -43.3394
21      Patancheru      IN     74.26  17.5314   78.2650
22    Kruisfontein      ZA     66.88 -34.0033   24.7314
23  Saint-Philippe      RE     78.35 -21.3585   55.7679
24   Mar Del Plata      AR     73.87 -38.0023  -57.5575

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
 hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
 print("Hotel not found... skipping.")

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kahului,US,72.84,20.8947,-156.4700,Maui Seaside Hotel
7,East London,ZA,68.94,-33.0153,27.9116,Tu Casa
10,Byron Bay,AU,69.87,-28.6500,153.6167,Backpackers Inn
12,Rikitea,PF,77.36,-23.1203,-134.9692,People ThankYou
17,Atuona,PF,78.35,-9.8000,-139.0333,Villa Enata
20,Corrente,BR,87.69,-3.7367,-43.3394,Chapadinhense Hotel
21,Patancheru,IN,74.26,17.5314,78.2650,Sri Ganapathi Lodge
22,Kruisfontein,ZA,66.88,-34.0033,24.7314,Oyster Bay House Rental
23,Saint-Philippe,RE,78.35,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
24,Mar Del Plata,AR,73.87,-38.0023,-57.5575,Gran Hotel Mar del Plata

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))